- add_breadcrumb @release.project.name, admin_project_releases_path(@release.project)
- content_for :breadcrumb, 'Edit'
- content_for :title, "Edit release - #{@release.project.name}"

= render 'form'
