- @projects.each do |project|
    
    = link_to project.name, project
    = link_to 'Github', project.github
    = link_to 'Website', project.website
    - project.releases.each do |release|
        = link_to release.name, [release.project, release]