//= require soca
//= require normalize-css/normalize

.table
{
    h2
    {
        font-size: 18px;
        margin:10px 0;
        font-weight: 500;
    }
    tbody
    {
        tr
        {
            td:last-child
            {
                min-width: 60px;
            }
        }
    }
}